/* Icons from directory "" */
.icon-ant_sf,.icon-ant_sf\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-ant_sf-dims{width:300px;height:225px}
.icon-anta,.icon-anta\:regular{background-image:url('icons/icons.png');background-position:0 -225px;background-repeat:no-repeat}
.icon-anta-dims{width:300px;height:225px}
.icon-aqued_arp,.icon-aqued_arp\:regular{background-image:url('icons/icons.png');background-position:0 -450px;background-repeat:no-repeat}
.icon-aqued_arp-dims{width:300px;height:225px}
.icon-azenha,.icon-azenha\:regular{background-image:url('icons/icons.png');background-position:0 -675px;background-repeat:no-repeat}
.icon-azenha-dims{width:300px;height:225px}
.icon-bomb_gasol,.icon-bomb_gasol\:regular{background-image:url('icons/icons.png');background-position:0 -900px;background-repeat:no-repeat}
.icon-bomb_gasol-dims{width:300px;height:225px}
.icon-capela,.icon-capela\:regular{background-image:url('icons/icons.png');background-position:0 -1125px;background-repeat:no-repeat}
.icon-capela-dims{width:300px;height:225px}
.icon-chafariz,.icon-chafariz\:regular{background-image:url('icons/icons.png');background-position:0 -1350px;background-repeat:no-repeat}
.icon-chafariz-dims{width:300px;height:225px}
.icon-cruzeiro,.icon-cruzeiro\:regular{background-image:url('icons/icons.png');background-position:0 -1575px;background-repeat:no-repeat}
.icon-cruzeiro-dims{width:300px;height:225px}
.icon-dep_agua,.icon-dep_agua\:regular{background-image:url('icons/icons.png');background-position:0 -1800px;background-repeat:no-repeat}
.icon-dep_agua-dims{width:300px;height:225px}
.icon-dep_elev_agua,.icon-dep_elev_agua\:regular{background-image:url('icons/icons.png');background-position:0 -2025px;background-repeat:no-repeat}
.icon-dep_elev_agua-dims{width:300px;height:225px}
.icon-est_emissao,.icon-est_emissao\:regular{background-image:url('icons/icons.png');background-position:0 -2250px;background-repeat:no-repeat}
.icon-est_emissao-dims{width:300px;height:225px}
.icon-est_metro,.icon-est_metro\:regular{background-image:url('icons/icons.png');background-position:0 -2475px;background-repeat:no-repeat}
.icon-est_metro-dims{width:300px;height:225px}
.icon-est_telecom,.icon-est_telecom\:regular{background-image:url('icons/icons.png');background-position:0 -2700px;background-repeat:no-repeat}
.icon-est_telecom-dims{width:300px;height:225px}
.icon-estatua,.icon-estatua\:regular{background-image:url('icons/icons.png');background-position:0 -2925px;background-repeat:no-repeat}
.icon-estatua-dims{width:300px;height:225px}
.icon-farol,.icon-farol\:regular{background-image:url('icons/icons.png');background-position:0 -3150px;background-repeat:no-repeat}
.icon-farol-dims{width:300px;height:225px}
.icon-gerador_eolico,.icon-gerador_eolico\:regular{background-image:url('icons/icons.png');background-position:0 -3375px;background-repeat:no-repeat}
.icon-gerador_eolico-dims{width:300px;height:225px}
.icon-menir,.icon-menir\:regular{background-image:url('icons/icons.png');background-position:0 -3600px;background-repeat:no-repeat}
.icon-menir-dims{width:300px;height:225px}
.icon-mina,.icon-mina\:regular{background-image:url('icons/icons.png');background-position:0 -3825px;background-repeat:no-repeat}
.icon-mina-dims{width:300px;height:225px}
.icon-moinho,.icon-moinho\:regular{background-image:url('icons/icons.png');background-position:0 -4050px;background-repeat:no-repeat}
.icon-moinho-dims{width:300px;height:225px}
.icon-nascente_ca,.icon-nascente_ca\:regular{background-image:url('icons/icons.png');background-position:0 -4275px;background-repeat:no-repeat}
.icon-nascente_ca-dims{width:300px;height:225px}
.icon-nascente_min_ca,.icon-nascente_min_ca\:regular{background-image:url('icons/icons.png');background-position:0 -4500px;background-repeat:no-repeat}
.icon-nascente_min_ca-dims{width:300px;height:225px}
.icon-nora,.icon-nora\:regular{background-image:url('icons/icons.png');background-position:0 -4725px;background-repeat:no-repeat}
.icon-nora-dims{width:300px;height:225px}
.icon-pelourinho,.icon-pelourinho\:regular{background-image:url('icons/icons.png');background-position:0 -4950px;background-repeat:no-repeat}
.icon-pelourinho-dims{width:300px;height:225px}
.icon-poco,.icon-poco\:regular{background-image:url('icons/icons.png');background-position:0 -5175px;background-repeat:no-repeat}
.icon-poco-dims{width:300px;height:225px}
.icon-portagens,.icon-portagens\:regular{background-image:url('icons/icons.png');background-position:0 -5400px;background-repeat:no-repeat}
.icon-portagens-dims{width:300px;height:225px}
.icon-queda_agua,.icon-queda_agua\:regular{background-image:url('icons/icons.png');background-position:0 -5625px;background-repeat:no-repeat}
.icon-queda_agua-dims{width:300px;height:225px}
.icon-ruinas,.icon-ruinas\:regular{background-image:url('icons/icons.png');background-position:0 -5850px;background-repeat:no-repeat}
.icon-ruinas-dims{width:300px;height:225px}
.icon-silo,.icon-silo\:regular{background-image:url('icons/icons.png');background-position:0 -6075px;background-repeat:no-repeat}
.icon-silo-dims{width:300px;height:225px}